table, th, td {
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    height: 30px;
}

th{
    /*background:#2c3e50;*/
	background: #95A5A6;
    color: white;    
}

th:nth-child(1) {
width: 150px;    
}

th:nth-child(2) {
width: 100px;    
}

th:nth-child(3) {
width: 150px;
}
    

